.user-widget {
  flex: 0.15;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__apps{
    cursor: pointer;
  }

  img {
    border-radius: 50%;
    width: 32px;
    object-fit: contain;
    margin-left: 17px;
    cursor: pointer;
  }
}
