.bottom-right-widgets {
  position: absolute;
  right: 20px;
  bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 500;

  .vertical-widget {
  }

  .horizontal-widget {
  }
}

.bottom-left-widgets {
  bottom: 0;
  left: 20px;
  position: absolute;
  z-index: 500;
}

.top-left-widgets {
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: 500;

  .search-bar{
    position: absolute;
    z-index: 2;
  }

  .under-search-bar{
    position: absolute;
    z-index: 0;
    
  }
}

.top-right-widgets {
  top: 15px;
  right: 30px;
  position: absolute;
  z-index: 500;
}
