// background-image: url(//maps.gstatic.com/tactile/pegman_v3/default/runway-2x.png);
// https://maps.gstatic.com/tactile/runway/imagery-show-2x.png

.horizontal-widget {
  margin-top: 5px;
  width: 145px;
  height: 30px;
  display: flex;
  align-items: stretch;

  .inline-btn {
    background-color: white;

    &:hover {
      background-color: white;
    }
  }

  &__street-view {
    width: 31px;
    display: flex;
    align-items: stretch;
    .street-view-button {
      border-radius: 8px 0 0 8px;
      max-width: 31px;
      min-width: 31px;
      padding: 3px;
      .street-view-icon {
        background-size: 28px 120px;
        background-position: 0px -31px;
        background-repeat: no-repeat;
        height: 30px;
        width: 31px;
        background-image: url(//maps.gstatic.com/tactile/pegman_v3/default/runway-2x.png);
      }
    }
  }
  &__gallery {
    display: flex;
    .gallery-button {
      border-radius: 0 8px 8px 0;
      padding: 0;
      .gallery-label {
        height: 30px;
        width: 80px;
        line-height: 30px;
        top: 0;
        left: 0;
        display: block;
        cursor: pointer;
        text-align: left;
        background-repeat: no-repeat;
        font-size: 12px;
        font-weight: 400;
        background-position: 8px 8px;
        color: transparent;
        background-image: url(//maps.gstatic.com/tactile/runway/imagery-show-1x.png);
        background-size: 60px 15px;
      }
      .expand-icon {
        margin-right: 7.5px;
        margin-left: 7.5px;
        fill: rgb(100, 100, 100);
      }
    }
  }
}
